In [33]:
import pandas as pd  
import numpy as np

In [34]:
df = pd.read_excel("C:/Users/dhivy/Desktop/Sem 5/crop/crop.xlsx")
df = df.drop(columns=['STATE']) 
df

,N_SOIL,P_SOIL,K_SOIL,TEMPERATURE,HUMIDITY,ph,RAINFALL,CROP_PRICE,CROP
0,90,42,43,20.879744,82.002744,6.502985,202.935536,7000,Rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,5000,Rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,7000,Rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,7000,Rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,120000,Rice
...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,1000,Coffee
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,800,Coffee
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,560,Coffee
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,1500,Coffee
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,1400,Coffee

In [35]:
df.tail()

,N_SOIL,P_SOIL,K_SOIL,TEMPERATURE,HUMIDITY,ph,RAINFALL,CROP_PRICE,CROP
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,1000,Coffee
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,800,Coffee
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,560,Coffee
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,1500,Coffee
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,1400,Coffee

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N_SOIL       2200 non-null   int64
 1   P_SOIL       2200 non-null   int64
 2   K_SOIL       2200 non-null   int64
 3   TEMPERATURE  2200 non-null   float64
 4   HUMIDITY     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   RAINFALL     2200 non-null   float64
 7   CROP_PRICE   2200 non-null   int64
 8   CROP         2200 non-null   object
dtypes: float64(4), int64(4), object(1)
memory usage: 154.8+ KB

In [37]:
df.describe()

,N_SOIL,P_SOIL,K_SOIL,TEMPERATURE,HUMIDITY,ph,RAINFALL,CROP_PRICE
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655,2689.228182
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389,3710.361267
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267,2.000000
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686,950.000000
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624,1825.000000
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508,3500.000000
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117,120000.000000

In [38]:
x = df.iloc[:,:-1]
x

,N_SOIL,P_SOIL,K_SOIL,TEMPERATURE,HUMIDITY,ph,RAINFALL,CROP_PRICE
0,90,42,43,20.879744,82.002744,6.502985,202.935536,7000
1,85,58,41,21.770462,80.319644,7.038096,226.655537,5000
2,60,55,44,23.004459,82.320763,7.840207,263.964248,7000
3,74,35,40,26.491096,80.158363,6.980401,242.864034,7000
4,78,42,42,20.130175,81.604873,7.628473,262.717340,120000
...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,1000
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,800
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,560
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,1500
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,1400

In [39]:
y = df.iloc[:,-1]
y

0         Rice
1         Rice
2         Rice
3         Rice
4         Rice
         ...
2195    Coffee
2196    Coffee
2197    Coffee
2198    Coffee
2199    Coffee
Name: CROP, Length: 2200, dtype: object

In [40]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=99)

In [41]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(criterion = "entropy", max_depth=2, min_samples_split=2,random_state=0 )
clf.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=2, random_state=0)

In [42]:
y_pred=clf.predict(x_test)
y_pred

array(['PigeonPeas', 'Watermelon', 'Pomegranate', 'Apple', 'Lentil',
       'Blackgram', 'PigeonPeas', 'Lentil', 'Blackgram', 'Blackgram',
       'Jute', 'PigeonPeas', 'Lentil', 'Maize', 'Rice', 'Banana', 'Rice',
       'Cotton', 'Apple', 'KidneyBeans', 'Orange', 'Muskmelon',
       'ChickPea', 'Muskmelon', 'Rice', 'PigeonPeas', 'Lentil', 'Orange',
       'Apple', 'ChickPea', 'Coconut', 'Mango', 'Orange', 'Apple',
       'Maize', 'PigeonPeas', 'Watermelon', 'Blackgram', 'Banana',
       'MungBean', 'Blackgram', 'Cotton', 'Watermelon', 'Blackgram',
       'Pomegranate', 'Apple', 'Orange', 'Muskmelon', 'Pomegranate',
       'Grapes', 'Rice', 'Grapes', 'Banana', 'Coffee', 'Lentil', 'Grapes',
       'Coconut', 'Coffee', 'Rice', 'Pomegranate', 'Banana',
       'KidneyBeans', 'Coffee', 'Watermelon', 'Muskmelon', 'Muskmelon',
       'Mango', 'Rice', 'ChickPea', 'Coconut', 'Rice', 'Lentil',
       'KidneyBeans', 'Orange', 'KidneyBeans', 'Muskmelon', 'Coffee',
       'Coffee', 'Banana', 'Rice', 'Pomegranate', 'Coconut', 'Apple',
       'KidneyBeans', 'Watermelon', 'KidneyBeans', 'Apple', 'Papaya',
       'Cotton', 'Coffee', 'Orange', 'Orange', 'ChickPea', 'Maize',
       'Pomegranate', 'PigeonPeas', 'Muskmelon', 'Watermelon', 'Coconut',
       'Cotton', 'Lentil', 'Papaya', 'Watermelon', 'Orange', 'Cotton',
       'Coffee', 'Grapes', 'KidneyBeans', 'Watermelon', 'Orange', 'Jute',
       'Grapes', 'Rice', 'Muskmelon', 'Cotton', 'Maize', 'Cotton',
       'Grapes', 'KidneyBeans', 'Maize', 'Pomegranate', 'Maize', 'Cotton',
       'ChickPea', 'Papaya', 'Pomegranate', 'Lentil', 'Apple', 'Coconut',
       'Apple', 'MungBean', 'Watermelon', 'Coconut', 'Grapes',
       'Watermelon', 'Rice', 'Coconut', 'Cotton', 'Banana', 'Watermelon',
       'MungBean', 'Rice', 'ChickPea', 'Maize', 'PigeonPeas', 'Muskmelon',
       'Pomegranate', 'Orange', 'MungBean', 'Banana', 'Coffee', 'Papaya',
       'Pomegranate', 'Banana', 'Apple', 'Papaya', 'MungBean',
       'Watermelon', 'Rice', 'Lentil', 'Grapes', 'Watermelon', 'MungBean',
       'Apple', 'Blackgram', 'MothBeans', 'MothBeans', 'Mango', 'Grapes',
       'Grapes', 'Blackgram', 'KidneyBeans', 'ChickPea', 'Watermelon',
       'Coconut', 'Lentil', 'Muskmelon', 'Maize', 'Maize', 'PigeonPeas',
       'Watermelon', 'Blackgram', 'Coffee', 'Watermelon', 'Mango',
       'PigeonPeas', 'Banana', 'Blackgram', 'Lentil', 'Coffee',
       'Blackgram', 'Lentil', 'Grapes', 'Banana', 'Rice', 'Maize',
       'Apple', 'MungBean', 'MungBean', 'Pomegranate', 'MothBeans',
       'Mango', 'KidneyBeans', 'Mango', 'Apple', 'Rice', 'Maize', 'Rice',
       'Rice', 'Cotton', 'Apple', 'Cotton', 'Muskmelon', 'PigeonPeas',
       'Blackgram', 'Muskmelon', 'Mango', 'MungBean', 'Cotton', 'Coffee',
       'Grapes', 'Muskmelon', 'Apple', 'Pomegranate', 'Coconut', 'Mango',
       'Rice', 'Coconut', 'Rice', 'Grapes', 'PigeonPeas', 'Coconut',
       'Cotton', 'Coconut', 'Banana', 'Blackgram', 'Muskmelon', 'Coffee',
       'Cotton', 'Banana', 'Coconut', 'Muskmelon', 'MungBean', 'Banana',
       'Coffee', 'Pomegranate', 'Blackgram', 'MothBeans', 'ChickPea',
       'Blackgram', 'Banana', 'Watermelon', 'Coconut', 'Lentil', 'Banana',
       'Maize', 'Rice', 'Banana', 'Grapes', 'ChickPea', 'Papaya', 'Apple',
       'Pomegranate', 'ChickPea', 'ChickPea', 'KidneyBeans', 'PigeonPeas',
       'Blackgram', 'Coconut', 'MungBean', 'Rice', 'Coffee',
       'KidneyBeans', 'Maize', 'Coffee', 'Coffee', 'Coffee', 'Papaya',
       'MungBean', 'Rice', 'Coffee', 'MothBeans', 'KidneyBeans', 'Rice',
       'ChickPea', 'Banana', 'Pomegranate', 'Coconut', 'ChickPea',
       'KidneyBeans', 'Grapes', 'Blackgram', 'Coconut', 'Banana',
       'MungBean', 'Mango', 'Papaya', 'Maize', 'Mango', 'Rice',
       'Blackgram', 'Banana', 'Banana', 'Rice', 'ChickPea', 'ChickPea',
       'Banana', 'Lentil', 'Orange', 'Coffee', 'Muskmelon', 'Watermelon',
       'Cotton', 'Papaya', 'Coconut', 'Blackgram', 'Blackgram',
       'ChickPea', 'Rice', 'MungBean', 'Maize', 'Cotton', 'ChickPea',
       'Grapes', 'Coconut', 'Pomegranate', 'PigeonPeas', 'Pomegranate',
       'Cotton', 'PigeonPeas', 'Coconut', 'Apple', 'Pomegranate',
       'Cotton', 'Blackgram', 'Mango', 'Maize', 'Lentil', 'Coffee',
       'Grapes', 'ChickPea', 'Cotton', 'Orange', 'Rice', 'Cotton',
       'Coconut', 'Rice', 'KidneyBeans', 'Mango', 'Blackgram',
       'KidneyBeans', 'PigeonPeas', 'Rice', 'Maize', 'Pomegranate',
       'Orange', 'Banana', 'ChickPea', 'Banana', 'Watermelon', 'Banana',
       'Orange', 'ChickPea', 'Blackgram', 'Muskmelon', 'Lentil', 'Coffee',
       'Blackgram', 'Grapes', 'Grapes', 'Blackgram', 'KidneyBeans',
       'Rice', 'Cotton', 'Mango', 'PigeonPeas', 'Pomegranate', 'Apple',
       'MothBeans', 'Jute', 'Blackgram', 'Orange', 'Orange', 'Papaya',
       'Watermelon', 'Apple', 'KidneyBeans', 'Orange', 'Maize', 'Cotton',
       'Maize', 'ChickPea', 'Orange', 'Pomegranate', 'Banana', 'Grapes',
       'Lentil', 'Coconut', 'Blackgram', 'PigeonPeas', 'MungBean', 'Rice',
       'Rice', 'Pomegranate', 'Rice', 'Lentil', 'Rice', 'Coffee', 'Maize',
       'Papaya', 'Cotton', 'Coffee', 'KidneyBeans', 'Maize', 'Blackgram',
       'ChickPea', 'Pomegranate', 'PigeonPeas', 'Watermelon', 'Lentil',
       'Cotton', 'Blackgram', 'KidneyBeans', 'Banana', 'Grapes',
       'MungBean', 'Lentil', 'PigeonPeas', 'KidneyBeans', 'Grapes',
       'Grapes', 'KidneyBeans', 'Banana', 'Rice', 'ChickPea', 'Banana',
       'ChickPea', 'Pomegranate', 'MungBean', 'Cotton'], dtype=object)

In [43]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[18,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0, 19,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0, 17,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0,  0, 24,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0, 19,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0, 23,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0, 24,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0, 18,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  3,  0,  0,  0,  0,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0, 12,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0, 20,  1,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0,  2,  0,  0,  0,  0,  0,  0,  0, 13,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 20,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 13,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0, 10,  0,  0,  0,  0,  0,  0,  0,  6,  0,  0,  6,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 17,  0,
         0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 16,
         0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        18,  0,  0,  0,  0,  0],
       [ 1,  5,  0,  0,  0,  0,  0,  5,  0,  0,  0,  0,  0,  0,  0,  1,
         0, 11,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,
         0,  0, 19,  0,  0,  0],
       [ 0,  0,  0,  0,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0, 24,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0, 22,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0, 21]], dtype=int64)

In [44]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)
acc

0.875

In [45]:
import pickle
filename = 'savedmodel.sav'
pickle.dump(clf, open(filename, 'wb'))

In [46]:
load_model  = pickle.load(open(filename,'rb'))

In [48]:
load_model.predict([[112,25,51,25.047469,85.566728,6.932537,56.724967,5140]])

c:\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['Watermelon'], dtype=object)

In [49]:
print(x_train)

      N_SOIL  P_SOIL  K_SOIL  TEMPERATURE   HUMIDITY        ph    RAINFALL  \
1558      32     145     203    23.830537  90.844222  6.406819  109.596679
1052     101      75      50    26.593864  81.407403  6.242528  109.982555
2199     104      18      30    23.603016  60.396475  6.779833  140.937041
757       44      76      22    27.264589  68.012329  7.775306   68.917544
762       28      65      23    28.386865  61.888711  7.405176   74.244591
...      ...     ...     ...          ...        ...       ...         ...
1092     113      85      45    27.949725  76.637134  6.037431  109.092163
1768      66      69      47    23.692122  93.610556  6.912300   87.533940
1737      65      62      51    31.532438  90.873949  6.511625  207.073512
1209      17     134     204    39.040720  80.183933  6.499605   73.884670
641       10      59      15    29.830404  89.304283  6.324005   58.866871

      CROP_PRICE
1558        1040
1052        1500
2199        1400
757         3500
762         1500
...          ...
1092         500
1768        3380
1737         430
1209         120
641         2200

[1760 rows x 8 columns]